@charset "UTF-8";
.acf_vietnam_address, .acf_vietnam_address * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.acf_vietnam_address {
    margin: 0 -5px;
}
.acf_vietnam_address_input {
    padding: 0 5px;
    float: left;
    width: 33.333%;
}